<body class="bg-image">
  <app-header-nav></app-header-nav>

  <section class="container-lg mt-2 mb-2 d-flex align-items-center flex-column">
    <div class="text-light pt-2 pb-2">
      <div class="pt-2 pb-2">
        <h1>Copa do Mundo 2022 Sorteio</h1>
        <p>
          Preencha essa informações para concorrer ao sorteio de um ingresso,
          ida e volta com tudo pago para todos os dias da copa.
        </p>
        <img
          src="../../../assets/imgs/banner.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
          <div
            class="card card-registration card-registration-2"
            style="border-radius: 15px"
          >
            <div class="card-body p-0">
              <form
                class="row g-0"
                [formGroup]="profileForm"
                (ngSubmit)="onSubmit()"
              >
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3
                      class="fw-normal mb-5"
                      style="color: rgba(150, 11, 51, 1)"
                    >
                      Informações Gerais
                    </h3>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label for="first-name">Primeiro Nome: </label>
                          <input
                            class="form-control form-control-lg"
                            id="first-name"
                            type="text"
                            formControlName="firstName"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label for="last-name">Sobrenome: </label>
                          <input
                            class="form-control form-control-lg"
                            id="last-name"
                            type="text"
                            formControlName="lastName"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label for="birth-date">Data de Nascimento: </label>
                          <input
                            class="form-control form-control-lg"
                            id="birth-date"
                            type="date"
                            formControlName="birthDate"
                          />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label>Gênero: </label>

                          <div class="form-check">
                            <input
                              class="form-control form-control-lg"
                              class="form-check-input"
                              type="radio"
                              name="genre"
                              id="masculino"
                              [value]="1"
                              formControlName="genre"
                            />
                            <label class="form-check-label" for="masculino"
                              >Masculino</label
                            >
                          </div>
                          <div class="form-check">
                            <input
                              class="form-control form-control-lg"
                              class="form-check-input"
                              type="radio"
                              name="genre"
                              id="feminino"
                              [value]="2"
                              formControlName="genre"
                            />
                            <label class="form-check-label" for="feminino"
                              >Feminino</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <label for="cpf">CPF: </label>
                          <input
                            class="form-control form-control-lg"
                            type="text"
                            formControlName="cpf"
                            placeholder="000.000.000-00"
                            pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})"
                            title="Certifique-se de escrever corretamente o CPF Ex:000.000.000-00"
                            size="14"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <label>Tem passaporte: </label>

                          <div class="form-check">
                            <input
                              class="form-control form-control-lg"
                              class="form-check-input"
                              type="radio"
                              name="passport"
                              id="sim"
                              [value]="1"
                              formControlName="passport"
                            />
                            <label class="form-check-label" for="sim"
                              >Sim</label
                            >
                          </div>
                          <div class="form-check">
                            <input
                              class="form-control form-control-lg"
                              class="form-check-input"
                              type="radio"
                              name="passport"
                              id="não"
                              [value]="2"
                              formControlName="passport"
                            />
                            <label class="form-check-label" for="não"
                              >Não</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label for="passport-status"
                            >Status da Solicitação do Passsaporte (data da
                            entrevista ou retirada):
                          </label>
                          <input
                            class="form-control form-control-lg"
                            id="passport-status"
                            type="text"
                            formControlName="passportStatus"
                          />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label for="passport-number"
                            >Numero do Passaporte:
                          </label>
                          <input
                            class="form-control form-control-lg"
                            id="passport-number"
                            type="text"
                            formControlName="passportNumber"
                            placeholder="AB123456"
                            pattern="[A-Z]{2}[0-9]{6}"
                            title="Certifique-se de escrever corretamente o Nº do passaporte Ex: AB123456"
                            size="9"
                          />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label for="passport-date"
                            >Data de emissão do passaporte:
                          </label>
                          <input
                            class="form-control form-control-lg"
                            id="passport-date"
                            type="date"
                            formControlName="passportDate"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo">
                  <div class="p-5">
                    <h3
                      class="fw-normal mb-5"
                      style="color: rgba(150, 11, 51, 1)"
                    >
                      Meios de Contato
                    </h3>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <div formGroupName="address">
                          <label for="street">Rua: </label>
                          <input
                            class="form-control form-control-lg"
                            id="street"
                            type="text"
                            formControlName="street"
                          />

                          <label for="city">Cidade: </label>
                          <input
                            class="form-control form-control-lg"
                            id="city"
                            type="text"
                            formControlName="city"
                          />

                          <label for="state">Estado: </label>
                          <input
                            class="form-control form-control-lg"
                            id="state"
                            type="text"
                            formControlName="state"
                          />

                          <label for="zip">CEP: </label>
                          <input
                            class="form-control form-control-lg"
                            id="zip"
                            type="text"
                            formControlName="zip"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div>
                        <label for="email">E-mail: </label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          formControlName="email"
                        />
                      </div>

                      <div class="pt-3">
                        <button
                          type="submit"
                          class="btn btn-light btn-lg"
                          data-mdb-ripple-color="dark"
                          [disabled]="!profileForm.valid"
                        >
                          Enviar dados
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</body>
