<body class="bg-image">
  <div class="content">
    <app-header-nav></app-header-nav>

    <section class="d-flex justify-content-center mt-2 mb-2">
      <div class="d-flex justify-content-center flex-wrap gap-5 mt-5 mb-5">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <i class="bi-dice-1"></i>
            <h2 class="Primeiro">Primeiro Passo</h2>
            <p class="card-text">Vá para a pagina Formulário de Participação</p>
            <a
              class="nav-link"
              href="../form-page/form-page.html"
              style="color: blue"
              >Formulário de Participação</a
            >
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <i class="bi-dice-2"></i>
            <h2 class="Segundo">Segundo Passo</h2>
            <p class="card-text">
              Preencha o formulario corretamente e certifique-se de que colocou
              o e-mail corretamente
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <i class="bi-dice-3"></i>
            <h2 class="Terceiro">Terceiro Passo</h2>
            <p class="card-text">
              Após o preenchimento do formulario verifique os nossos contantos e
              aguarde lhe avisaremos se você for sorteado.
            </p>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
</body>
