<body class="bg-image">
  <app-header-nav></app-header-nav>

  <section
    class="container-fluid d-flex align-items-center flex-column mb-2 mt-2 gap-5 flex-wrap"
  >
    <div class="d-flex align-items-start flex-column">
      <img
        src="../../../assets/imgs/copa_do_mundo_do_catar_2022-930x524.jpg"
        class="d-block w-100 fix-image"
      />

      <p class="title"></p>
    </div>
    <div class="text-white d-flex align-items-start flex-column gap-5 mx-3">
      <b class="text"
        >A Copa do Mundo é um dos maiores eventos esportivos do planeta e a cada
        quatro em quatro anos, bilhões de pessoas assistem aos jogos realizados.
        A primeira Copa do Mundo aconteceu em 1930, após muitos anos de
        tentativas de se organizar uma competição mundial de futebol, desde
        então, é um evento mágico que encanta gerações, une nações e povos ao
        redor do mundo .
      </b>
      <h2 class="text-center">
        Veja abaixo as seleções que irão participar e seus grupos
      </h2>
    </div>

    <div class="d-flex align-items-start flex-column">
      <img
        src="../../../assets/imgs/eight-groups-qatar-2022-besoccer.png"
        class="d-block w-100 fix-image"
      />
    </div>
    <div class="text-white d-flex align-items-start flex-column mx-3">
      <h2 class="text-center">Os melhores jogadores juntos na Copa do Mundo</h2>
    </div>

    <div class="d-flex align-items-start flex-column mt-2 mb-2 gap-5">
      <img
        src="../../../assets/imgs/fpnfy6ixmae0udd-16487720514112120284450.jpg"
        class="d-block w-100 fix-image"
      />
    </div>
  </section>

  <app-footer></app-footer>
</body>
