<body class="bg-image">
  <app-header-nav></app-header-nav>

  <section class="container-lg mt-2 mb-2 d-flex align-items-center flex-column">
    <div>
      <carousel
        (activeSlideChange)="onActiveSlideChange($event)"
        [(activeSlide)]="pageData.activeSlideIndex"
        [interval]="2000"
        [isAnimated]="true"
      >
        <slide *ngFor="let slide of pageData.slides; let index = index">
          <img
            [src]="slide.image"
            alt="image slide"
            style="display: block; width: 100%"
          />
        </slide>
      </carousel>
    </div>
    <div
      class="container-fluid bg-white p-5 mt-2 rounded-2 d-flex align-items-center flex-column"
    >
      <h2>O sorteio irá acontecer em alguns segundos:</h2>
      <h3 id="demo">{{ (pageData.counter | async) + " segundos" }}</h3>
      <button
        *ngIf="showButtonSorteio"
        id="btn-sorteio"
        class="btn btn-primary"
        (click)="open(content)"
      >
        Ver resultado
      </button>
    </div>
  </section>

  <app-footer></app-footer>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</body>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      O ganhador foi:
      <h2>{{ winner || "Ainda não temos ganhador" }}</h2>
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div
      style="width: 100%; height: 0; padding-bottom: 56%; position: relative"
    >
      <iframe
        src="{{ gif }}"
        width="100%"
        height="100%"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
      ></iframe>
    </div>
  </div>
  <div class="modal-footer">
    <h4>
      Você receberá um email confirmando sua identidade e dando seu prêmio
    </h4>
  </div>
</ng-template>
